@use "sass:map";
@use "variables" as var;

:host {
  gap: map.get(var.$spacers, 3);
  display: inline-flex;
  align-items: center;

  .chip {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    background-color: var.$danger;

    &.connecting {
      background-color: var.$warning;
    }

    &.connected {
      background-color: var.$success;
    }
  }
}