<title-bar title="Technicolor Hack"></title-bar>
<div class="main-content p-4">
  <div class="sidebar" [formGroup]="this.formGroup">
    <label>Modem IP</label>
    <input matInput formControlName="modemIp" />
    <label>Username</label>
    <input matInput formControlName="username" />
    <label>Password</label>
    <input matInput type="password" formControlName="password" />

    <button class="btn btn-success" [disabled]="!this.formGroup.valid || !!this.connected || !!this.connecting" (click)="this.doLogin()">Connect</button>
  </div>
  <div class="content p-3">
    <connection-status [connected]="this.connected" [connecting]="this.connecting"></connection-status>
    <mat-divider></mat-divider>
    <div class="wifis-container">
      <wifi-antenna *ngFor="let wifi of this.wifiList" [wifiInfo]="wifi" (toggleWifi)="this.toggleWifi($event)"></wifi-antenna>
    </div>
  </div>
</div>