@use "sass:map";
@use "variables" as var;

$border-style: solid 1px #{var.$gray-600};

@mixin rounded($radius: 0.625rem, $sides: all) {
  border: $border-style;
  @if $sides == all {
    border-radius: $radius;
  } @else {
    @each $side in $sides {
      border-#{$side}-radius: $radius;
    }
  }
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content {
    gap: map.get(var.$spacers, 4);
    display: flex;
    padding: map.get(var.$spacers, 4);
    flex-grow: 1;
    flex-direction: row;

    .sidebar {
      width: 15rem;
      display: flex;
      flex-direction: column;
      gap: map.get(var.$spacers, 4);
    }

    .content {
      gap: map.get(var.$spacers, 3);
      flex: 1;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      @include rounded(0.5rem);

      > div.wifis-container {
        gap: map.get(var.$spacers, 4);
        display: flex;
        flex-wrap: wrap;

        > .mat-mdc-card {
          flex: 1 1 300px;
          display: flex;
          flex-grow: 0;
        }
      }
    }
  }
}
